@import "./sass/_mixins_variable.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

main {
  height: 100vh;
}

main.dark,
.dark {
  background-color: $c-9;
  color: $c-1;
  transition: all 0.5s ease-out;
}

main.light,
.light {
  background-color: $c-1;
  color: $c-10;
  transition: all 0.5s ease-out;
}

.container {
  max-width: $lg-device;
  margin: 0 auto;
}

img {
  width: 100%;
  display: inline-block;
}
